<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amadon.com - Spend more. Smile less.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/images/style.css"> 
</head>
<body>
    
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <img src="/stylesheets/images/amadon.png" alt="Company Logo" id="logo" height="30">
        </a>
            <a class="nav-link" href="shop.ejs">Shop</a>
    
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                    <% if (login) { %>
                        <li><a class="dropdown-item" href="../user/profile.ejs">Profile</a></li>
                        <li><a class="dropdown-item" href="../user/signout.ejs">Sign Out</a></li>
                    <% } else { %>
                        <li><a class="dropdown-item" href="../user/signin.ejs">Sign In</a></li>
                        <li><a class="dropdown-item" href="../user/signup.ejs">Sign Up</a></li>
                    <% } %>
                </ul>
            </div>
            <a class="navbar-brand" href="cart.ejs">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge"><%= session.cart && session.cart.amount? session.cart.amount : 0 %></span>
            </a>
    </nav>
    
    <div class="container"> 
        <div class="row row-cols-1 row-cols-md-5 g-4"> <!-- Use 'row-cols-*' to define the number of columns per row -->
            
            <% products.forEach(product => { %>
                <div class="col">
                    <div class="card h-100 border">
                        <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.title %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text">$<%= product.price %></p>
                            <p class="card-text product-description"><%= product.description %></p>
                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-primary">Add to Cart</a>
 
                        </div>
                    </div>
                </div>
            <% }); %>
            
        </div>
    </div>
    

    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>